# .gitignore
__pycache__/
*.pyc
*.pdf
*.xlsx
*.json
credentials.json
drive_config.json
invoices/*
!invoices/.gitkeep
Input/*
!Input/.gitkeep
Output/*
!Output/.gitkeep
Clients/*
!Clients/.gitkeep
.env
venv/
